@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heroButton {
        @apply 
        px-6 
        py-2 
        border border-transparent
        rounded-full 
        uppercase 
        text-xs
        tracking-widest
        text-gray-500 
        dark:text-gray-800
        transition-all 
        hover:border-[#F7AB0A]/40 
        hover:text-[#F7AB0A]/40
        dark:hover:border-[#333333]/40 
        
    }

    .contactInput {
        @apply
        outline-none
        bg-slate-400/10
        rounded-sm
        border-b
        px-6
        py-4
        border-[#242424]
        dark:border-[#F7AB0A]
        dark:text-gray-800
        text-gray-500
        placeholder-gray-500 
        transition-all
        focus:border-[#F7AB0A]/40
        focus:text-[#F7AB0A]/40
        hover:border-[#F7AB0A]/40
        dark:focus:border-black/40
        dark:focus:text-black/40
        dark:hover:border-black/40
    }

    .socialIcon {
        @apply
        w-5
        h-5
        md:w-7
        md:h-7
        text-[#808080]
    }

    .contactIcon {
        @apply
        text-[#F8AB0A] 
        h-7 
        w-7 
        animate-pulse 
        dark:text-gray-800
    }

    .contact {
        @apply
        flex 
        items-center 
        space-x-5 
        justify-center
    }

    .contactText {
        @apply
        text-xl
        md:text-2xl 
        dark:text-gray-800
    }

    .experienceItem {
        @apply
        
        flex
        flex-col 
        rounded-lg
        items-center
        space-y-7
        flex-shrink-0
        w-[280px]
        h-[450px]
        md:w-[500px] 
        md:h-[400px]
        xl:w-[600px]
        xl:h-[600px]
        snap-center
        bg-[#292929]
        p-3
        mt-14
        sm:hover:opacity-100
        sm:opacity-40
        cursor-pointer
        sm:transition-opacity
        sm:duration-200
        overflow-hidden
        dark:bg-[#d4aa8f]
        dark:text-gray-800
    }

    .sectionTitle {
        @apply
        text-xl
        md:text-4xl
        font-semibold
        text-center
        dark:text-gray-800
    }

    .headerTitle {
        @apply 
        uppercase
        md:inline-flex 
        text-sm 
        pt-1 
        pl-2
    }

    .headerText{
        @apply
        uppercase 
        hidden 
        md:inline-flex 
        text-sm 
        pt-1 
        pl-2
        dark:text-gray-800
    }

    .darkRing {
        @apply
        absolute 
        border 
        border-[#333333] 
        dark:border-[#FECEAD] 
        rounded-full
        mt-52
    }

    .lightRing {
        @apply
        absolute 
        border 
        border-[#F7AB0A] 
        dark:border-[#333333] 
        rounded-full 
        h-[650px] 
        w-[650px] 
        mt-52 
        opacity-20 
        animate-pulse
    }

}