@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heroButton {
        
        @apply 
        px-6 
        py-2 
        border border-transparent
        rounded-full 
        uppercase 
        text-xs
        tracking-widest
        text-gray-500 
        dark:text-black
        transition-all 
        hover:border-[#F7AB0A]/40 
        hover:text-[#F7AB0A]/40
        dark:hover:border-[#333333]/40 
        
    }

    .contactInput {
        @apply
        outline-none
        bg-slate-400/10
        rounded-sm
        border-b
        px-6
        py-4
        border-[#242424]
        dark:border-[#F7AB0A]
        dark:text-black
        text-gray-500
        placeholder-gray-500 
        transition-all
        focus:border-[#F7AB0A]/40
        focus:text-[#F7AB0A]/40
        hover:border-[#F7AB0A]/40
        dark:focus:border-black/40
        dark:focus:text-black/40
        dark:hover:border-black/40
    }

    .socialIcon {
        @apply
        w-7
        h-7
        text-[#808080]
    }
}